.textarea {
	background: transparent;
	border: 2px solid $primary-dark;
	border-radius: 2px;
	color: $white;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 600;
	height: $base-gutter * 12;
	padding: $base-gutter * 2;
	resize: none;
	width: 100%;
	&:hover {
		color: $white;
		
		& + .textfield__placeholder {
			color: $primary;
		}
	}
	&:focus,
	&:active {
		border: 2px solid $primary;
		color: $white;
		outline: none;
		
		& + .textfield__placeholder {
			display: none;
		}
	}
}
